<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UtcBot"
        tools:targetApi="31">
        <activity
            android:name=".robotica.Impresion3D"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robotica.DisenoCad"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robotica.ComponentesPasivos"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robotica.FuenteEnergia"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robotica.Actuadores"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robotica.Sensores"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robotica.Microcontroladores"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robotica.Componente1"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListadoProyectos"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>